.sidebarMain {
  max-width: 45px;
  background-color: #1d2125;
  color: #ecf0f1;
  transition: 0.2s ease-in-out;
  transition-delay: 0.1s;
  overflow-x: hidden;
  padding: 0;
}

.sidebarMain:hover {
  max-width: 130px;
  background-color: #34495e;
}

.side-link p{
  text-align: left;
  transform: scale(0);
  transition: 0.3s ease-in;
}
.sidebarMain:hover .side-link p{
  transform: scale(1);
}

.side-link {
  scale: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  text-wrap: nowrap;
  padding: 15px;
  text-decoration: none;
  color: #ecf0f1;
  transition: 0.3s ease;
}

.side-link:hover {
  background-color: #4a6274;
}

.side-link.active {
  background-color: #4a6274;
}