/* App.css */
html{
  height: 100%;
}
body {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f7f7f7;
}


/* Navbar Styles */
.navbar {
  background-color: #333333;
  padding: 10px 0;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}


/* Card Styles */
.card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px; /* Add some margin between cards */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Add smooth transition effect */
}

.card:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
}

/* Card Title Styles */
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Card Content Styles */
.card-content {
  font-size: 16px;
  color: #555555;
}

/* Footer Styles */
.footer {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

/* Expanded Sidebar Styles */
.offcanvas.expanded {
  transform: translateX(0);
}

/* Collapsed Sidebar Styles */
.offcanvas.collapsed {
  transform: translateX(-100%);
}

/* Toggle Button Position */
.btn-primary.d-md-none {
  position: fixed;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  z-index: 1000; /* Ensure it's above other elements */
}

.navbar-weather {
  display: flex;
  align-items: center;
}

.weather-details {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.weather-icon {
  font-size: 1.5rem;
  margin-right: 5px;
  color: #fff;
}
.fa-clock{
  color: white;
}
.temperature {
  color: #fff;
  margin-right: 10px;
}


